.todo {
    width: 400px;
    height:50px;
    display: flex;
    box-shadow: 6px 8px 4px 1px rgb(0 0 0 / 20%);
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
    background: lightgrey;
    align-items: center;
}

.removeBtn {
    margin-left: 8px;
    border: none;
    background: transparent;
    color: #dc3545;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}
